body {
    font-family: sans-serif;
}

#text-flash {
    display: none;
    font-size: 12px;
    left: 50%;
    position: fixed;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 2;
}

#winner-banner {
    align-items: center;
    background-color: white;
    border: 2px solid limegreen;
    border-radius: 5px;
    box-shadow: 0px 0px 25px limegreen;
    display: none;
    flex-direction: column;
    font-size: 24px;
    height: 100px;
    justify-content: center;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    z-index: 1;
}

#winning-player {
    font-weight: bold;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: fantasy;
    text-shadow: 0 0 15px yellow;
}

#active-player {
    color: red;
    font-weight: bold;
}

#grid {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    height: 500px;
    margin-top: 20px;
    width: 500px;
}

.row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 5px;
}

.inner-box {
    align-items: center;
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.inner-box.inactive {
    border: 1px solid darkgray;
    color: darkgray;
}

.inner-box:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.inner-box.inactive:hover {
    background-color: #eeeeee;
    cursor: auto;
}

#word-entry-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    padding: 5px;
    width: 500px;
}

#word-entry-container.inactive {
    color: darkgray;
}

#word-entry-container.active {
    background-color: greenyellow;
    border: 1px solid limegreen;
    box-shadow: 0 0 25px greenyellow;
    font-weight: bold;
}

.label-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.input-container {
    flex: auto;
}

.input-container input {
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    width: 100%;
}

.input-container input:focus {
    border-color: limegreen;
    outline: none !important;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    color: black;
    margin-top: 20px;
    width: 500px;
}

table tr:first {
    border-bottom: 1px solid lightblue;
}

th, td {
    padding: 5px 0px;
    text-align: center;
}

#timer {
    font-weight: bold;
}

.shaking {
    animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2.5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-2.5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes font-grow {
    0% { font-size: 12px; opacity: 1; }
    25% { font-size: 36px; opacity: 0.9; }
    50% { font-size: 108px; opacity: 0.7; }
    75% { font-size: 324px; opacity: 0.4; }
    100% { font-size: 972px; opacity: 0; }
}

.font-grow {
    animation: font-grow 0.75s linear;
    display: block !important;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fade-in 0.75s linear;
    display: flex !important;
}