body {
    font-family: sans-serif;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: fantasy;
}

#active-player {
    color: red;
    font-weight: bold;
}

#grid {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    height: 500px;
    margin-top: 20px;
    width: 500px;
}

.row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 5px;
}

.inner-box {
    align-items: center;
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.inner-box.inactive {
    border: 1px solid darkgray;
    color: darkgray;
}

.inner-box:hover {
    background-color: #dddddd;
    cursor: pointer;
}

#word-entry-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    padding: 5px;
    width: 500px;
}

#word-entry-container.inactive {
    color: darkgray;
}

#word-entry-container.active {
    background-color: greenyellow;
    border: 1px solid limegreen;
    box-shadow: 0 0 25px greenyellow;
    font-weight: bold;
}

.label-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.input-container {
    flex: auto;
}

.input-container input {
    box-sizing: border-box;
    text-transform: uppercase;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 10px lightgray;
    color: black;
    margin-top: 20px;
    width: 500px;
}

table tr:first {
    border-bottom: 1px solid lightblue;
}

th, td {
    padding: 5px 0px;
    text-align: center;
}