body {
    font-family: sans-serif;
}

.row {
    display: flex;
}

.outer-box {
    display: flex;
    height: 50px;
    padding: 5px;
    width: 50px;
}

.inner-box {
    align-items: center;
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner-box:hover {
    background-color: #dddddd;
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

.elem {
    margin: 5px;
}